@using Almacen.Domain.DTOs.SucursalDTO;
@model List<SucursalDTO>
@{
    ViewData["Title"] = "Sucursales";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Sucursales</h1>
    <div class="col-4">
        <a asp-controller="Sucursales" asp-action="AgregarSucursal" class="btn btn-outline-success">
            <i class="fa-solid fa-person-circle-plus"></i>Agregar
        </a>
    </div>
</div>
<br>
<br>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Sucursales
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <!-- Agregamos la clase 'text-center' para centrar el contenido -->
                <thead>
                    <tr>
                        <th scope="col" class="align-middle">Sucursal</th> <!-- Agregamos la clase 'align-middle' para centrar verticalmente -->
                        <th scope="col" class="align-middle">Teléfono</th>
                        <th scope="col" class="align-middle">Correo</th>
                        <th scope="col" class="align-middle">Dirección</th>
                        <th scope="col" class="align-middle">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sucursal in Model)
                    {
                        <tr>
                            <td class="align-middle">@sucursal.Nombre_Sucursal</td>
                            <td class="align-middle">@sucursal.Telefono</td>
                            <td class="align-middle">@sucursal.Correo</td>
                            <td class="align-middle">@sucursal.Direccion</td>
                            <td class="align-middle">
                                <a asp-controller="Sucursales" asp-action="ActualizarSucursal" asp-route-id="@sucursal.Id_Sucursal" type="button" id="edit" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
                                <button type="button" id="delete" class="btn btn-outline-danger" onclick="Delete(@sucursal.Id_Sucursal)"><i class="fa-solid fa-trash-can"></i>Eliminar</button>
                                <!-- <a asp-controller="ProductoSucursal" asp-action="Index" asp-route-id="@sucursal.Id_Sucursal" type="button" id="lista" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i>Productos disponibles</a> -->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        function Delete(id_sucursal) {
            $.ajax({
                url: "/api/v1/sucursales/Eliminar/" + id_sucursal,
                method: "DELETE",
                dataType: "json",
                contentType: "application/json"
            }).done(function (response) {
                if (response.success) {
                    $("#row-" + id_sucursal).remove();
                    toastr.success("Sucursal eliminada")
                    location.reload();
                }
                else {
                    toastr.error(response.errorMessage);
                }
            });
        }
    </script>
</div>



