@using Almacen.Domain.DTOs.SucursalDTO;
@model List<SucursalDTO>
@{
    ViewData["Title"] = "Sucursales";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Sucursales</h1>
    <div class="col-4">
        <a asp-controller="Sucursales" asp-action="AgregarSucursal" class="btn btn-outline-success">
            <i class="fa-solid fa-person-circle-plus"></i>Agregar
        </a>
    </div>
</div>
<br>
<br>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Productos
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Dirección</th>
                </tr>
            </thead>

        </table>
    </div>

    @foreach (var sucursal in Model)
    {
        <div id="row-@sucursal.Id_Sucursal" class="row mb-1 p-1">
            <div class="col-2">@sucursal.Nombre_Sucursal</div>
            <div class="col-2">@sucursal.Telefono</div>
            <div class="col-4">@sucursal.Correo</div>
            <div class="col-2">@sucursal.Direccion</div>
            
            
            <div class="col-2">
                <a asp-controller="Sucursales" asp-action="ActualizarSucursal" asp-route-id="@sucursal.Id_Sucursal" type="button" id="edit" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
                <button type="button" id="delete" class="btn btn-outline-danger" onclick="Delete(@sucursal.Id_Sucursal)"><i class="fa-solid fa-trash-can"></i>Eliminar</button>

            @*     <a asp-controller="ProductoSucursal" asp-action="Index" asp-route-id="@sucursal.Id_Sucursal" type="button" id="lista" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i>Productos disponibles</a>
            *@ </div>
        </div>
    }
</div>

<script type="text/javascript">
    function Delete(id_sucursal) {
        $.ajax({
            url: "/api/v1/sucursales/Eliminar/" + id_sucursal,
            method: "DELETE",
            dataType: "json",
            contentType: "application/json"
        }).done(function (response) {
            if (response.success) {
                $("#row-" + id_sucursal).remove();
                toastr.success("Sucursal eliminada")
            }
            else {
                toastr.error(response.errorMessage);
            }
        });
    }
</script> 