@using Almacen.Domain.DTOs.ProductoDTO;
@model List<ProductoDTO>
@{
    ViewData["Title"] = "Productos";
}


<div class="container-fluid px-4">
    <h1 class="mt-4">Productos</h1>
        <div class="col-4">
            <a asp-controller="Productos" asp-action="AgregarProducto" class="btn btn-outline-success">
                <i class="fa-solid fa-person-circle-plus"></i>Agregar
            </a>
        </div>
    </div>
    <br><br>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Productos
        </div>
        <div class="card-body">
        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio de compra</th>
                        <th scope="col">Precio de venta</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Marca</th>
                    </tr>
                </thead>

            </table>
        </div>

    @foreach (var producto in Model)
    {
        <div id="row-@producto.Id_Producto" class="row mb-1 p-1">
            <div class="col-2">@producto.Nombre_Producto</div>
            <div class="col-2">@producto.Descripcion</div>
            <div class="col-2">@producto.Precio_Compra</div>
            <div class="col-2">@producto.Precio_Venta</div>
            <div class="col-2">@producto.Categoria.Nombre_Categoria</div>
            <div class="col-2">@producto.Proveedor.Nombre_Proveedor</div>
            <div class="col-2">@producto.Marca.Nombre_Marca</div>


            <div class="col-2">
                <a asp-controller="Sucursales" asp-action="ActualizarSucursal" asp-route-id="@producto.Id_Producto" type="button" id="edit" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
                <button type="button" id="delete" class="btn btn-outline-danger" onclick="Delete(@producto.Id_Producto)"><i class="fa-solid fa-trash-can"></i>Eliminar</button>

             
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function Delete(Id_Producto) {
        $.ajax({
            url: "/api/v1/sucursales/Eliminar/" + Id_Producto,
            method: "DELETE",
            dataType: "json",
            contentType: "application/json"
        }).done(function (response) {
            if (response.success) {
                $("#row-" + Id_Producto).remove();
                toastr.success("Producto eliminado")
            }
            else {
                toastr.error(response.errorMessage);
            }
        });
    }
</script> 